<section class="block block--footer container">
  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h3 class="callout__header">Ready To Get Started?</h3>
        <p>
          Choose the hosting provider that helps you start easy, build fast, and
          grow strong! it is risk-free with our 14-day money bak guarantee.
        </p>
      </div>

      <a href="#" class="btn btn--footer btn--stretched">Get Started</a>
    </div>
  </div>

  <footer class="grid grid--1x2 footer">
    <ul class="list footer__content">
      <li class="footer__content--list">
        <div class="collapsible">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">PRODUCTS</h3>
            <span class="icon-collapsible footer__icon">
              <svg class="icon--white collapsible__downarrow">
                <use xlink:href="/images/sprite.svg#downarrow"></use>
              </svg>
            </span>
          </header>
          <ul class="list collapsible__content">
            <li><a href="">WordPress Hosting</a></li>
            <li><a href="">Free Automated WordPress</a></li>
            <li><a href="">Migrations</a></li>
            <li><a href="">Domains</a></li>
            <li><a href="">Monthly Web Hosting</a></li>
          </ul>
        </div>
      </li>
      <li class="footer__content--list">
        <div class="collapsible">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">COMPANY</h3>
            <span class="icon-collapsible footer__icon">
              <svg class="icon--white collapsible__downarrow">
                <use xlink:href="/images/sprite.svg#downarrow"></use>
              </svg>
            </span>
          </header>
          <ul class="collapsible__content list">
            <li><a href="">About</a></li>
            <li><a href="">Affiliates</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">News</a></li>
          </ul>
        </div>
      </li>
      <li class="footer__content--list">
        <div class="collapsible">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">SUPPORT</h3>
            <span class="icon-collapsible footer__icon">
              <svg class="icon--white collapsible__downarrow">
                <use xlink:href="/images/sprite.svg#downarrow"></use>
              </svg>
            </span>
          </header>
          <ul class="collapsible__content list">
            <li><a href="">Contact</a></li>
            <li><a href="">Knowledge Base</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="">System Status</a></li>
            <li><a href="">Web Hosting</a></li>
            <li><a href="">DreamCompute</a></li>
          </ul>
        </div>
      </li>
      <li class="footer__content--list">
        <div class="collapsible">
          <header class="collapsible__header">
            <h3 class="collapsible__heading">DOMAINS</h3>
            <span class="icon-collapsible footer__icon">
              <svg class="icon--white collapsible__downarrow">
                <use xlink:href="/images/sprite.svg#downarrow"></use>
              </svg>
            </span>
          </header>
          <ul class="collapsible__content list">
            <li><a href="">Domain Checker</a></li>
            <li><a href="">Domain Transfer</a></li>
            <li><a href="">Free Domain</a></li>
            <li><a href="">XYZ Domain</a></li>
            <li><a href="">Cheap SSL Certificate</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="footer__logo">
      <img src="/images/logo.svg" alt="Logo" />
      <p class="footer__logo--text">Copyright © 2020 mosh</p>
    </div>
  </footer>
</section>
